.social__login
    a(href='/auth/kakao').login__other
        button.btn__social__login__kakao(style='background:#FFEB00')
            .btn__social__login__container
                i.xi-3x.xi-kakaotalk.text-dark(style='color: black')
                .login__other__text__kakao 카카오로 로그인
    a(href='/auth/naver').login__other
        button.btn__social__login(style='background:#1FC700')
            .btn__social__login__container
                i.xi-3x.xi-naver
                .login__other__text 네이버로 로그인
    a(href='/auth/facebook').login__other
        button.btn__social__login(style='background:#4267B2')
            .btn__social__login__container
                i.xi-3x.xi-facebook
                .login__other__text 페이스북으로 로그인
