.social__login
    .login__other
        button.btn__social__login(style='background:#FFEB00')
            a(href='/auth/kakao')
                i.xi-3x.xi-kakaotalk.text-dark(style='color: black')
    .login__other
        button.btn__social__login(style='background:#1FC700')
            a(href='/auth/naver')
                i.xi-3x.xi-naver
    .login__other
        button.btn__social__login(style='background:#4267B2')
            a(href='/auth/facebook')
                i.xi-3x.xi-facebook
