.social-login
    a.login__other__kakao(href='/auth/kakao')
        button kakao
    a.login__other__naver(href='/auth/naver')
        button naver
    a.login__other__facebook(href='/auth/facebook')
        button facebook