/* input 관련 */

input {
  border: 1px solid #a8a8a8;
}

input:focus,
textarea:focus {
  outline: none;
  border: 0px solid #a8a8a8;
  transition: box-shadow 0.1s ease-in;
  box-shadow: 0px 0px 0.15vw #a134ff;
}

.user__input__select__short,
.user__input__text,
.user__input__text__short {
  text-align: left;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;;
  padding-left: 0.3vw;
  margin: 0.5vw 0vw 0.5vw 0vw;
}

.user__input__select__short {
  display: flex;
  align-items: center;
}

.user__input__text {
  width: 20vw;
}

.user__input__text__short {
  width: 9vw;
}

.user__input__select__short {
  width: 9vw;
}

.input__text {
  width: 15vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin: 0 0 2vw 0;
}

.input__select__short,
.input__text__long,
.input__text__short,
.input__text__comment {
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin-bottom: 1%;
  margin: 0.5vw 0vw 0.5vw 0vw;
  padding-left: 0.3vw;
}

.input__text__long {
  width: 20vw;
}

.input__text__short {
  width: 9vw;
}

.input__select__short {
  width: 9vw;
}

.input__text__comment {
  width: 70vw;
}

.input__textarea {
  width: 60vw;
  height: 50vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin: 0 0 2vw 0;
}

.input__select {
  display: inline;
  height: 2vw;
  width: 15vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin-bottom: 1vw;
}

.input__file {
  display: block;
  width: 35vw;
  margin: 0 0 2vw 0;
}

.career-rule {
  display: block;
  font-size: 0.8vw;
  color: #707070;
}


/* upload */

.input__file__upload {
  width: 35vw;
  margin: 0 0 1vw 0;
  border-radius: 0.5vw;
}

.input__text__upload {
  width: 35vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin: 0 0 1vw 0;
}

.input__description__upload {
  width: 35vw;
  height: 16vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin: 0 0 1vw 0;
}

/* button 관련 */

.submit__btn,
.submit__btn__long,
.submit__btn__short {
  background-color: #a134ff;
  border: 0px;
  border-radius: 7px;
  color: white;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 1vw;;
}

.submit__btn {
  width: 15vw;
}

.submit__btn__long {
  width: 20.6vw;
}

.submit__btn__short{
  background-color: white;
  height: 2vw;
  width: 2vw;
  margin: 0 0 0 1vw;
  box-shadow: 0px 0px 0.15vw #a134ff;
}

.button__profile {
  margin: 0px 0px 0px 0px;
  display: inline;
  background: none;
  border: 0px;
}

.submit__btn__upload {
  background-color: #a134ff;
  border: 0px;
  border-radius: 7px;
  color: white;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 1vw;
  width: 15vw;
  display: block;
}

