/* input 관련 */

.input__text {
  width: 15vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 0px solid $main-color;
  box-shadow: 0px 0px 0.15vw #A134FF;
}

.input__select__short,
.input__text__long,
.input__text__short {
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 0px solid $main-color;
  margin-bottom: 1%;
  box-shadow: 0px 0px 0.15vw #A134FF;
  margin: 0.5vw 0vw 0.5vw 0vw;
  padding-left: 0.3vw;
}

.input__text__long {
  width: 20vw;
  
}

.input__text__short {
  width: 9vw;
}

.input__select__short {
  width: 9vw;
}

.input__textarea {
  width: 60vw;
  height: 50vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 1px solid $main-color;
  margin-bottom: 1%;
}

.input__select {
  display: inline;
  height: 2vw;
  width: 15vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 1px solid $main-color;
  margin-bottom: 1%;
}

.input__file {
  display: block;
  width: 35vw;
  margin-bottom: 5vw;
}

.career-rule {
  display: block;
  font-size: 0.8vw;
  color: #707070;
}


/* upload */

.input__file__upload {
  width: 35vw;
  margin: 0 0 1vw 0;
  border-radius: 0.5vw;
  box-shadow: 0px 0px 0.15vw #A134FF;
}

.input__text__upload {
  width: 35vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 0px solid $main-color;
  box-shadow: 0px 0px 0.15vw #A134FF;
  margin: 0 0 1vw 0;
}

.input__description__upload {
  width: 35vw;
  height: 16vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 0px solid $main-color;
  box-shadow: 0px 0px 0.15vw #A134FF;
  margin: 0 0 1vw 0;
}

/* button 관련 */

.submit__btn,
.submit__btn__long {
  background-color: rgba(140, 19, 229, 0.55);
  border: 0px;
  border-radius: 7px;
  color: white;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 1vw;;
}

.submit__btn {
  width: 15vw;
}

.submit__btn__long {
  width: 20.6vw;
}

.button__profile {
  margin: 0px 0px 0px 0px;
  display: inline;
  background: none;
  border: 0px;
}

.submit__btn__upload {
  background-color: rgba(140, 19, 229, 0.55);
  border: 0px;
  border-radius: 7px;
  color: white;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 1vw;
  width: 15vw;
  display: block;
}