.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  //box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 0 1.5vw;
}

.header__logo__image {
  height: 2vw;
}

.header__right {
  display: flex;
  padding: 0 1.5vw 0 0;
}

.header__search {
  display: flex;
  i {
    position: relative;
    font-size: 1vw;
    top: 0.6vw;
    left: -0.4vw;
    color: #707070;
  }
}

.search__text {
  display: flex;
  height: 1.5vw;
  padding-top: 0.3vw;
  font-size: 1vw;
  width: 15vw;
  border: none;
  border-bottom: 0.15vw solid #A8A8A8;;
  margin-right: 1.5vw;
}

.search__text:focus {
  box-shadow: none;
  transition: border-bottom 0.1s ease-in;
  border-bottom: 0.15vw solid #a134ff;
}

.header__column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.header__column__divider {
  width: 1px;
  height: 1.5vw;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__column__profile {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header__column__profile__img {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  object-fit: cover;
}

.header__column__profile__username {
  margin-top: 0.45vw;
  margin-left: 0.6vw;
}

.header__column__upload {
  background-color: #a134ff;
  border: 0px;
  border-radius: 1vw;
  height: 2vw;
  width: 5vw;
  font-size: 1vw;
  margin: 0 auto;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__column__upload span {
  color: white;
}