@keyframes flashAnimation {
    0% {
      transform: translateY(-70px);
    }
    5% {
      transform: translateY(0px);
    }
    95% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-70px);
    }
}

.flash-message__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    padding: 20px;
    text-align: center;
    animation: flashAnimation 4s ease-in-out forwards;
    background-color: $main-color;
}

.flash-message__text {
    color: white;
    font-size: 14px;
}