.social__login {
    text-align: center;
}
  
.login__other {
    display: inline;
    
}
  
.login__other a:visited {
    color: white;
}
  
.btn__social__login {
    margin: 0vw 2vw 2vw 2vw;
    transition: all 0.2s;
    outline: 0;
    border: 1px solid transparent;
    padding: 0.5rem !important;
    border-radius: 50%;
    color: #fff;
}

.btn__social__login:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.text__dark {
    color: #343a40 !important;
}