.imageBlock {
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
}

img {
  width: 100%;
  height: auto;
  border-radius: 1vh;
}

img:hover {
  opacity: 0.5;
  color: rgba(255, 255, 255, 1);
}
.imageBlock:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
}

.imageBlock__info {
  text-align: left;
  position: relative;
  opacity: 0;
  top: -3vw;
  height: 3vw;
  border-radius: 1vh;
  display: inline;
}

.imageBlock__info:hover {
  opacity: 1;
  position: relative;
  font-size: 20px;
}
