.imageBlock {
  vertical-align: middle;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1vh;
}

.imageBlock__info {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
  opacity: 0;
  display: flex;
  top: -3vw;
  height: 3vw;
  border-radius: 1vh;
}

.imageBlock__info:hover {
  opacity: 1;
  position: relative;
  text-align: left;
  font-size: 20px;
}
