extends layouts/main.pug

block content
    .editprofile__form
        form(action=`/users${routes.editProfile()}`, method='post', enctype='multipart/form-data')
            .editprofile__avatar
                .editprofile__title 프로필 사진
                img(src=loggedUser.avatarUrl)
                input(type='file', id='avatar', name='avatar', accept='image/*', class='input__file')
            .editprofile__name
                .editprofile__title 이름
                input(type='text', placeholder='Name', id='name', name='name', value=loggedUser.name, class='input__text')
            //- .editprofile__career
            //-     .editprofile__title 경력
            //-     p(class='career-rule') (따옴표(,)로 구분하여 입력. 예: XX대학교 재학(20XX.XX.XX~20XX.XX.XX), XX 인턴(20XX.XX.XX~20XX.XX.XX), XX전시, XX전시)
            //-     textarea(id='career', name='career', class='input__textarea')=String(loggedUser.career)
            .editprofile__description
                .editprofile__title 자기소개
                textarea(id='description', name='description', class='input__textarea')=loggedUser.description
            .editprofile__submit
                input(type='submit', value='Update Profile', class='submit__btn')


    //- .editprofile__name
    //-     .editprofile__name__name 이름
    //-     .editprofile__name__input
    //-         input(type="text")
    //- .editprofile__description
    //-     .editprofile__description__description 소개
    //-     .editprofile__description__input
    //-         //default: 기존의 자기소개
    //-         input(type="text")