extends layouts/main.pug

block content

    .join__container
        .join__image__container
            img.join__image(src=loginImage)
        .join__main 
            .join__main__title 가입하기
            .join__main__container
                form.join__form(action='/join', method='post')#jsJoinForm
                    .join__form__name
                        input(type="text" class="input__text__long" name="name" placeholder="닉네임" required)
                    .join__form__ID
                        input(type="text" class="input__text__short" name="emailId" placeholder="이메일" required)
                        span  @ 
                        select(class="input__select__short" name="emailDomain")
                            option(value='gmail.com') gmail.com
                            option(value='naver.com') naver.com
                            option(value='daum.net') daum.net
                    .join__form__password
                        input(type="password" class="input__text__long" name="password" placeholder="비밀번호 (8자리 이상)" required)
                    .join__form__password__confirm
                        input(type="password" class="input__text__long" name="password2" placeholder="비밀번호 확인" required)
                    if passwordUnmatch
                        .join__form__passwordUnmatch
                        | 비밀번호가 일치하지 않습니다
                    if userAlreadyExist
                        .join__form__userAlreadyExist
                        | 소셜 로그인으로 가입된 계정이거나 이미 존재하는 닉네임입니다
                    .join__form__guideline
                        input(type="checkbox")#jsJoinCheckbox
                        | 아트클립의 이용약관과 개인정보보호정책에 동의합니다.
                    .join__form__btn
                        button(class= "submit__btn__long")#jsJoinBtn 회원가입
                    .join__already 이미 가입하셨나요? 
                        a(href="/login") 로그인
            .join__SNS SNS로 가입하기
            include partials/socialLogin.pug
