extends layouts/main.pug

block content

    .join__image
    // 그림넣기
    .join__main 가입하기
        form.join__form(action='/join', method='post')
            .join__form__name
                input(type="text" class="input__text" name="name" placeholder="닉네임" required)
            .join__form__ID
                input(type="text" class="input__text" name="emailId" placeholder="이메일" required)
                .join__form__ID__at @
                select(class="input__text" name="emailDomain")
                    option(value='gmail.com') gmail.com
                    option(value='naver.com') naver.com
                    option(value='daum.net') daum.net
            .join__form__password
                input(type="password" class="join__form__password__input" name="password" placeholder="비밀번호 (8자리 이상)" required)
            .join__form__password__confirm
                input(type="password" class="join__form__confirm__input" name="password2" placeholder="비밀번호 확인" required)
            if passwordUnmatch
                .join__form__passwordUnmatch
                | 비밀번호가 일치하지 않습니다
            if userAlreadyExist
                .join__form__userAlreadyExist
                | 소셜 로그인으로 가입된 계정이거나 이미 존재하는 닉네임입니다
            .join__form__guideline 버튼을 클릭함으로써 아트클립의 이용약관과 개인정보보호정책에 동의합니다.
            button(class= "join__form__submit") 회원가입
            .join__already 이미 가입하셨나요? 로그인
            .join__divider
    .titlebar 가입하기
    include partials/socialLogin.pug
