extends layouts/main.pug

block content

    .login__main
        .login__image__container
            img.login__image(src=loginImage)
        .login__container
            span 로그인
            form.login__form(action="/login" method="post")
                .login__form__ID
                    input(type="text" class="login__input__text" name="email" placeholder="이메일")
                .login__form__password
                    input(type="password" class="login__input__text" name="password" placeholder="비밀번호 (8자리 이상)")
                // .login_form__find 이메일/비밀번호 찾기
                button(class="submit__btn__long") 로그인
                .login__already 아직 회원이 아니신가요? 
                    a(href=routes.join) 가입하기
                .login__divider
            include partials/socialLogin