extends layouts/main.pug
include mixins/imageBlock

block content
    .titlebar
        h3 Searching for: #{searchingBy}
    .search__images
        if images.length === 0 
            h5 검색 결과가 없습니다.
        .grid__container    
            each image in images
                +imageBlock(image)
