extends layouts/main.pug

block content
    form(action=`/images${routes.upload}`, method='post', enctype="multipart/form-data", class="form-container")
        label(for='file') Image File
        input(type='file', id='file', name='imageFile', required=true, accept='image/*', class="input__file__upload")
        input(type='text', placeholder="Title", name='title', required=true, class="input__text__upload")
        textarea(name='description', placeholder='Description', class="input__description__upload")
        //- textarea(name='tag', placeholder='Tags', class="input__text")
        .deletecheck
            input(type='checkbox', name="volatile")
            label(for='volatile') 회원 정보 파기 시에 해당 작품을 함께 파기하지 않습니다.
        input(type='submit', value='Upload Image', class="submit__btn__upload")
