extends layouts/main.pug

block content
    .form-container
        form(action=`/images${routes.upload}`, method='post', enctype="multipart/form-data")
            label(for='file') Image File
            input(type='file', id='file', name='imageFile', required=true, accept='image/*', class="input__file")
            input(type='text', placeholder="Title", name='title', required=true, class="input__text")
            textarea(name='description', placeholder='Description', class="input__text")
            textarea(name='tag', placeholder='Tags', class="input__text")
            input(type='submit', value='Upload Video', class="submit__btn")
