/* variables */
:root {
  --main--color: rgba(140, 19, 229, 0.5);
  --background--color: rgba(140, 19, 229, 0.2);
  --grey: #707070;
}

.titlebar {
  display: inline-flex;
  font-size: 40px;
  margin: 40px 40px 40px 40px;
}

/* input 관련 */

.input__text {
  height: 20px;
  font-size: 15px;
  border-radius: 7px;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%;
  display: block;
  width: 35%;
}

.input__file {
  display: block;
  width: 35%;
  margin-bottom: 5%;
}

/* button 관련 */

.submit__btn {
  background-color: rgba(140, 19, 229, 0.55);
  border: 0px;
  border-radius: 7px;
  color: white;
  width: 35%;
  font-size: 20px;
  margin-bottom: 1%;
}

.button__profile {
  margin: 0px 0px 0px 0px;
  display: inline;
  background: none;
  border: 0px;
}

/* grid container 관련 */

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  margin: 5vh 5vh 5vh 5vh;
  column-gap: 2vh;
  row-gap: 2vh;
}

.grid__container > .imageBlock {
  background: var(--background--color);
  padding: 1rem;
  position: relative;
}

.grid__container > .imageBlock {
  display: grid;
}

.grid__container > .imageBlock::before {
  content: "";
  padding-bottom: 100%;
  height: 0px;
  display: block;
}

.grid__container > .imageBlock::before,
.grid__container > .imageBlock > img {
  grid-area: 1 / 1 / 2 / 2;
}

.grid__container > .imageBlock > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* grid content 관련 */

.imageBlock img {
  filter: blur(0px);
}

.imageBlock__info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.imageBlock__info__btn {
  position: absolute;
  bottom: 10%;
  opacity: 0;
  transition: opacity 0.5s;
}

.imageBlock:hover .imageBlock__info,
.imageBlock:hover .imageBlock__info__btn {
  opacity: 1;
}
.imageBlock:hover img {
  filter: blur(2px);
}
