/* variables */
:root {
  --main--color: rgba(140, 19, 229, 0.5);
  --background--color: rgba(140, 19, 229, 0.3);
  --grey: #707070;
}

.titlebar {
  display: inline-flex;
  font-size: 40px;
  margin: 40px 40px 40px 40px;
}

/* input 관련 */

.input__text {
  width: 15vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%;
}

.input__select {
  display: inline;
  height: 2vw;
  width: 15vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%;
}

.input__file {
  display: block;
  width: 35%;
  margin-bottom: 5%;
}

/* button 관련 */

.submit__btn {
  background-color: rgba(140, 19, 229, 0.55);
  border: 0px;
  border-radius: 7px;
  color: white;
  width: 33vw;
  font-size: 20px;
  margin-bottom: 1%;
}

.button__profile {
  margin: 0px 0px 0px 0px;
  display: inline;
  background: none;
  border: 0px;
}

/* Social login */

.social__login {
  text-align: center;
}

.login__other {
  display: inline;
}

.btn__social__login {
  margin: 0vw 2vw 2vw 2vw;
  transition: all 0.2s;
  outline: 0;
  border: 1px solid transparent;
  padding: 0.5rem !important;
  border-radius: 50%;
  color: #fff;
}
.btn__social__login:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.text__dark {
  color: #343a40 !important;
}

/* grid container 관련 */

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  margin: 5vh 5vh 5vh 5vh;
  column-gap: 2vh;
  row-gap: 2vh;
}

.grid__container .imageBlock {
  background: black;
  padding: 1rem;
  position: relative;
  border-radius: 1vw;
}

.grid__container .imageBlock {
  display: grid;
}

.grid__container .imageBlock::before {
  content: "";
  padding-bottom: 100%;
  height: 0px;
  display: block;
}

.grid__container .imageBlock::before,
.grid__container .imageBlock .imageBlock__img img {
  grid-area: 1 / 1 / 2 / 2;
}

.grid__container .imageBlock .imageBlock__img img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* grid content 관련 */

.imageBlock .imageBlock__img img {
  filter: blur(0px);
}

.imageBlock__container {
  position: absolute;
  bottom: 0%;
  left: 0;
  height: 30%;
  width: 100%;
  /* background: linear-gradient(0deg, rgba(255,255,255, 0.1) 3%, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.1) 97%); */
  background: transparent linear-gradient(180deg, #ffffff00 0%, #808080b9 100%)
    0% 0%;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
}

.imageBlock__btn,
.imageBlock h1 {
  left: 25%;
}

.imageBlock__btn,
.imageBlock h1,
.imageBlock__profile {
  position: absolute;
  font-size: 1.5em;
  transition: opacity 0.5s;
  opacity: 0;
}

.imageBlock__profile {
  left: 4%;
  bottom: 5%;
  width: 20%;
  height: 20%;
}

.imageBlock__profile img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageBlock h1,
.imageBlock h1 a,
.imageBlock h1 a:visited {
  font-weight: bold;
  text-decoration: none;
  left: 25%;
  color: white;
  bottom: 15%;
}

.imageBlock__btn {
  bottom: 5%;
}

.imageBlock__btn__more {
  font-size: 1.5em;
  position: absolute;
  right: 5%;
  bottom: 15%;
  opacity: 0;
}

.imageBlock .imageBlock__btn a span {
  margin-right: 1em;
  margin-left: 1em;
}

.imageBlock:hover .imageBlock__container,
.imageBlock:hover .imageBlock__btn,
.imageBlock:hover .imageBlock__btn__more,
.imageBlock:hover h1,
.imageBlock:hover .imageBlock__profile {
  opacity: 1;
}

.imageBlock:hover .imageBlock__container {
  filter: blur(2px);
}

.imageBlock:hover .imageBlock__img img {
  filter: blur(2px);
}
