.image__detail__title {
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

h3 {
  display: inline;
  /* border-bottom: 0.2vw solid var(--grey); */
}

.image__detail__tags {
  padding-top: 1vw;
  font-size: 1vw;
}

.image__detail__edit {
  position: absolute;
  margin: 1vw;
  right: 0;
  padding-right: 1vw;
  font-size: 1vw;
}

.image__detail__container {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  border-radius: 0.5vw;
}
.image__detail__image {
  border: 0.1vw solid var(--main--color);
  border-radius: 0.5vw;
}

.image__detail__image img {
  min-height: 30vw;
  max-width: 70%;
}

.image__detail__social {
  /* border-left: 0.1vw solid var(--main--color);
  border-right: 0.1vw solid var(--main--color); */
  font-size: 1vw;
  display: flex;
}

.image__detail__social__likes,
.image__detail__social__dislikes,
.image__detail__social__views {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-bottom: 1vw;
}

.image__detail__info {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: left;
  border-top: 0.1vw solid #707070;
  border-bottom: 0.1vw solid #707070;
  /* border-radius: 0.5vw; */
}

.image__detail__description,
.image__detail__createdAt {
  display: block;
}

.image__detail__comment {
  margin-top: 1vw;
}
