.image__detail {
  margin-left: 15%;
  margin-right: 15%;
}

.image__detail__title {
  font-size: 2vw;
  padding-top: 1.5vw;
  margin-bottom: 1.5vw;
}

h3 {
  display: inline;
  /* border-bottom: 0.2vw solid var(--grey); */
}

.image__detail__tags {
  padding-top: 1vw;
  font-size: 1vw;
}

.image__detail__edit {
  position: absolute;
  margin: 1vw;
  right: 0;
  padding-right: 1vw;
  font-size: 1vw;
}

.image__detail__container {
  text-align: center;
  border-radius: 0.5vw;
}
.image__detail__image {
  // border: 0.1vw solid $main-color;
  // border-radius: 0.5vw;
}

.image__detail__image img {
  max-height: 100%;
  max-width: 100%;
}

.image__detail__social {
  font-size: 1vw;
  display: flex;
}

.jsLike {
  border: none;
  background-color: white;
}

.image__detail__social__likes,
.image__detail__social__comments,
.image__detail__social__views {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-bottom: 1vw;
}

.image__detail__info {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: left;
  border-top: 0.1vw solid  #A8A8A8;;
  border-bottom: 0.1vw solid  #A8A8A8;;
  /* border-radius: 0.5vw; */
}

.image__detail__creator,
.image__detail__createdAt {
  margin-bottom: 15px;
}

.image__detail__comments-list {
  text-align: left;
}

.image__detail__comment {
  margin-top: 1vw;
}

.image__detail__comments-list__comments {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.3vw 0;
}

.image__detail__comments-list__comments__contents span:first-child {
  color: grey;
}

.add__comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fas.fa-ban, .far.fa-comment-alt {
  color: #a134ff;
}