.join__container {
  display: flex;
  width: auto;
}

.join__main {
  font-size: 35px;
  text-align: center;
  margin: auto;
}

.join__image__container {
  width: 60%;
}

.join__image {
  width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.join__main__title {
  text-align: left;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.join__main__container {
  padding: 1vw 0vw 1vw 0vw;
}

.join__form {
  position: relative;
  font-size: 20px;
  outline-style: none;
  width: 50%;
  display: inline;
  text-align: center;
}

.join__form__ID {
}

.join__form__guideline,
.join__already {
  font-size: 0.6vw;
  margin-bottom: 1vw;
}

.join__form__btn {
  width: 20vw;
  text-align: left;
}

.join__SNS {
  margin-bottom: 1vw;
  text-align: center;
  font-size: 1.5vw;
}
