.login__main {
  font-size: 35px;
  height: 100%;
  margin-top: 2vw;
  display: flex;
}

.login__image__container {
  width: 60%;
}

.login__image {
  width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.login__container {
  text-align: left;
  margin: auto;
}

.login__form {
  padding-top: 2vw;
}

.login_form__find,
.login__already {
  text-align: center;
  font-size: 0.7vw;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}

.login__input__text {
  width: 20vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 0px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%;
  padding: auto;
  box-shadow: 0px 0px 0.15vw #a134ff;
  padding-left: 0.3vw;
}
