.login__main {
  font-size: 35px;
  height: 100%;
  margin-top: 2vw;
  display: flex;
}

.login__image__container {
  width: 50%;
}

.login__image {
  width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.login__container {
  text-align: left;
  margin: auto;
}

.login__form {
  padding-top: 3vw;
}

.login_form__find,
.login__already {
  font-size: 0.7vw;
  margin-bottom: 0.5vw;
}

.login__submit__btn {
  background-color: rgba(140, 19, 229, 0.55);
  border: 0px;
  border-radius: 7px;
  color: white;
  width: 30vw;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 1%;
}

.login__input__text {
  width: 30vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%;
}
