/*
.login__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 35px;
  height: 100%;
  margin-top: 2vw;
}

.login__image__container {
  margin-top: -50px;
  width: 60%;
}

.login__image {
  position: absolute;
  width: 60%;
  max-height: 100%;
}

.login__container {
  text-align: left;
  margin: auto;
}
*/

.login__main {
  margin-top: 15%;
}

.login__form__find,
.login__already {
  font-size: 0.7vw;
  margin-bottom: 1vw;
}

/*
.login__input__text {
  width: 20vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;;
  margin-bottom: 1%;
  padding: auto;
  border: 1px solid #a8a8a8;
  padding-left: 0.3vw;
}
*/