.form-container{
    margin: 0 15vw 0 15vw;
    padding: 1vw 0 0 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.deletecheck {
    display: flex;
    align-items: center;
}