/* input 관련 */

.input__text {
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    border: 1px solid rgba(140, 19, 229, 0.5);
    margin-bottom: 1%;
  }
  
  .input__textarea {
    width: 60vw;
    height: 50vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    border: 1px solid rgba(140, 19, 229, 0.5);
    margin-bottom: 1%;
  }
  
  .input__select {
    display: inline;
    height: 2vw;
    width: 15vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    border: 1px solid rgba(140, 19, 229, 0.5);
    margin-bottom: 1%;
  }
  
  .input__file {
    display: block;
    width: 35%;
    margin-bottom: 5%;
  }
  
  .career-rule {
    display: block;
    font-size: 0.8vw;
    color: #707070;
  }
  
  /* button 관련 */
  
  .submit__btn {
    background-color: rgba(140, 19, 229, 0.55);
    border: 0px;
    border-radius: 7px;
    color: white;
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
    margin-bottom: 1%;
  }
  
  .button__profile {
    margin: 0px 0px 0px 0px;
    display: inline;
    background: none;
    border: 0px;
  }
  