@charset "UTF-8";
.titlebar {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 40px;
  margin: 40px 40px 40px 40px; }

/* button 관련 */
.submit__btn {
  background-color: rgba(140, 19, 229, 0.55);
  border: 0px;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  color: white;
  width: 15vw;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 1%; }

.button__profile {
  margin: 0px 0px 0px 0px;
  display: inline;
  background: none;
  border: 0px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:visited, a:active, a:link, a:hover {
  text-decoration: none; }

.main__feed {
  position: relative; }

.main__feed__more {
  position: absolute;
  right: 0; }

.image__detail__title {
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  margin-right: 1vw; }

h3 {
  display: inline;
  /* border-bottom: 0.2vw solid var(--grey); */ }

.image__detail__tags {
  padding-top: 1vw;
  font-size: 1vw; }

.image__detail__edit {
  position: absolute;
  margin: 1vw;
  right: 0;
  padding-right: 1vw;
  font-size: 1vw; }

.image__detail__container {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  -webkit-border-radius: 0.5vw;
     -moz-border-radius: 0.5vw;
          border-radius: 0.5vw; }

.image__detail__image {
  border: 0.1vw solid rgba(140, 19, 229, 0.5);
  -webkit-border-radius: 0.5vw;
     -moz-border-radius: 0.5vw;
          border-radius: 0.5vw; }

.image__detail__image img {
  max-height: 100%;
  max-width: 100%; }

.image__detail__social {
  /* border-left: 0.1vw solid var(--main--color);
    border-right: 0.1vw solid var(--main--color); */
  font-size: 1vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.image__detail__social__likes,
.image__detail__social__dislikes,
.image__detail__social__views {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-bottom: 1vw; }

.image__detail__info {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: left;
  border-top: 0.1vw solid #707070;
  border-bottom: 0.1vw solid #707070;
  /* border-radius: 0.5vw; */ }

.image__detail__creator,
.image__detail__createdAt {
  margin-bottom: 15px; }

.image__detail__comment {
  margin-top: 1vw; }

.join__main {
  font-size: 35px;
  width: auto;
  margin-right: 30%;
  margin-left: 30%; }

.join__main__title {
  margin-top: 1vw;
  margin-bottom: 1vw; }

.join__main__container {
  padding: 2vw 1vw 2vw 1vw;
  -webkit-border-radius: 2vw;
     -moz-border-radius: 2vw;
          border-radius: 2vw;
  border: 1px solid rgba(140, 19, 229, 0.5); }

.join__form {
  position: relative;
  font-size: 20px;
  outline-style: none;
  width: 50%;
  display: inline; }

.join__form__ID {
  display: inline; }

.join__form__guideline,
.join__already {
  font-size: 5px;
  margin-bottom: 1%; }

.join__form__submit {
  background-color: rgba(140, 19, 229, 0.8);
  border: 0px;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  color: white;
  width: 35%;
  font-size: 20px;
  margin-bottom: 1%; }

.join__SNS {
  margin-top: 3vw;
  margin-bottom: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
  border-bottom: 1px solid rgba(140, 19, 229, 0.5); }

.login__main {
  font-size: 35px; }

.login__main {
  margin-top: 2vw;
  margin-left: 35%;
  margin-right: 35%; }

.login__form {
  margin-top: 2vw;
  text-align: center; }

.login_form__find,
.login__already {
  font-size: 0.7vw;
  margin-bottom: 0.5vw; }

.login__submit__btn {
  background-color: rgba(140, 19, 229, 0.55);
  border: 0px;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  color: white;
  width: 30vw;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 1%; }

.login__input__text {
  width: 30vw;
  height: 2vw;
  font-size: 1vw;
  -webkit-border-radius: 0.5vw;
     -moz-border-radius: 0.5vw;
          border-radius: 0.5vw;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%; }

.search__header {
  font-size: 40px; }

.user__detail__profile {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.user__detail__profile__info__avatar__img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid rgba(140, 19, 229, 0.5); }

.user__detail__profile__info {
  width: 30%;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 15px 15px 15px;
  font-size: 20px;
  text-align: center; }

.user__detail__profile__info__follower,
.user__detail__profile__info__following,
.user__detail__profile__info__profile,
.user__detail__profile__info__name,
.user__detail__profile__info__career {
  padding-bottom: 5px; }

.user__detail__description {
  padding: 15px 15px 15px 15px; }

.user__detail__profile__info__career__detail {
  font-size: 15px;
  color: grey; }

.user__detail__profile__info__name {
  font-size: 30px;
  padding: 10px; }

.user__detail__local__navbar {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px; }

.user__detail__local__navbar__profile,
.user__detail__local__navbar__goods,
.user__detail__local__navbar__likes,
.user__detail__local__navbar__repository,
.user__detail__local__navbar__clip {
  margin: 5px 5px 5px 5px;
  margin: auto;
  text-align: justify; }

.grid__1__image {
  background-color: black;
  height: 20vh;
  padding-top: 25%;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.users__all {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin: 5vh 5vh 5vh 5vh;
  -webkit-column-gap: 2vh;
     -moz-column-gap: 2vh;
          column-gap: 2vh;
  row-gap: 2vh; }

.user__avatar {
  max-height: 3vw; }

.editprofile__form {
  margin-left: 15%;
  margin-right: 15%; }
  .editprofile__form .editprofile__avatar img {
    width: 300px; }

/* input 관련 */
.input__text {
  width: 15vw;
  height: 2vw;
  font-size: 1vw;
  -webkit-border-radius: 0.5vw;
     -moz-border-radius: 0.5vw;
          border-radius: 0.5vw;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%; }

.input__textarea {
  width: 60vw;
  height: 50vw;
  font-size: 1vw;
  -webkit-border-radius: 0.5vw;
     -moz-border-radius: 0.5vw;
          border-radius: 0.5vw;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%; }

.input__select {
  display: inline;
  height: 2vw;
  width: 15vw;
  font-size: 1vw;
  -webkit-border-radius: 0.5vw;
     -moz-border-radius: 0.5vw;
          border-radius: 0.5vw;
  border: 1px solid rgba(140, 19, 229, 0.5);
  margin-bottom: 1%; }

.input__file {
  display: block;
  width: 35%;
  margin-bottom: 5%; }

.career-rule {
  display: block;
  font-size: 0.8vw;
  color: #707070; }

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  margin: 5vh 5vh 5vh 5vh;
  -webkit-column-gap: 2vh;
     -moz-column-gap: 2vh;
          column-gap: 2vh;
  row-gap: 2vh; }

.grid__container .imageBlock {
  background: black;
  padding: 1rem;
  position: relative;
  -webkit-border-radius: 1vw;
     -moz-border-radius: 1vw;
          border-radius: 1vw; }

.grid__container .imageBlock {
  display: grid; }

.grid__container .imageBlock::before {
  content: '';
  padding-bottom: 100%;
  height: 0px;
  display: block; }

.grid__container .imageBlock::before,
.grid__container .imageBlock .imageBlock__img img {
  grid-area: 1 / 1 / 2 / 2; }

.grid__container .imageBlock .imageBlock__img img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%; }

/* grid content 관련 */
.imageBlock .imageBlock__img img {
  -webkit-filter: blur(0px);
          filter: blur(0px); }

.imageBlock__container {
  position: absolute;
  bottom: 0%;
  left: 0;
  height: 30%;
  width: 100%;
  /* background: linear-gradient(0deg, rgba(255,255,255, 0.1) 3%, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.1) 97%); */
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#808080b9)) 0% 0%;
  background: transparent -webkit-linear-gradient(top, #ffffff00 0%, #808080b9 100%) 0% 0%;
  background: transparent -moz-linear-gradient(top, #ffffff00 0%, #808080b9 100%) 0% 0%;
  background: transparent -o-linear-gradient(top, #ffffff00 0%, #808080b9 100%) 0% 0%;
  background: transparent linear-gradient(180deg, #ffffff00 0%, #808080b9 100%) 0% 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.imageBlock__btn,
.imageBlock h1 {
  left: 25%; }

.imageBlock__btn,
.imageBlock h1,
.imageBlock__profile {
  position: absolute;
  font-size: 1.5em;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0; }

.imageBlock__profile {
  left: 4%;
  bottom: 5%;
  width: 20%;
  height: 20%; }

.imageBlock__profile img {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.imageBlock h1,
.imageBlock h1 a,
.imageBlock h1 a:visited {
  font-weight: bold;
  text-decoration: none;
  left: 25%;
  color: white;
  bottom: 15%; }

.imageBlock__btn {
  bottom: 5%; }

.imageBlock__btn__more {
  font-size: 1.5em;
  position: absolute;
  right: 5%;
  bottom: 15%;
  opacity: 0; }

.imageBlock .imageBlock__btn a span {
  margin-right: 1em;
  margin-left: 1em; }

.imageBlock:hover .imageBlock__container,
.imageBlock:hover .imageBlock__btn,
.imageBlock:hover .imageBlock__btn__more,
.imageBlock:hover h1,
.imageBlock:hover .imageBlock__profile {
  opacity: 1; }

.imageBlock:hover .imageBlock__container {
  -webkit-filter: blur(2px);
          filter: blur(2px); }

.imageBlock:hover .imageBlock__img img {
  -webkit-filter: blur(2px);
          filter: blur(2px); }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.header__logo {
  position: relative;
  margin: -15px;
  width: 120px;
  font-size: 20px;
  font-weight: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.header__logo__circle {
  z-index: -1;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: -5px; }

.header__column {
  width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.header__column__divider {
  width: 1px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2); }

@-webkit-keyframes flashAnimation {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px); }
  5% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  95% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px); } }

@-moz-keyframes flashAnimation {
  0% {
    -moz-transform: translateY(-70px);
         transform: translateY(-70px); }
  5% {
    -moz-transform: translateY(0px);
         transform: translateY(0px); }
  95% {
    -moz-transform: translateY(0px);
         transform: translateY(0px); }
  100% {
    -moz-transform: translateY(-70px);
         transform: translateY(-70px); } }

@-o-keyframes flashAnimation {
  0% {
    -o-transform: translateY(-70px);
       transform: translateY(-70px); }
  5% {
    -o-transform: translateY(0px);
       transform: translateY(0px); }
  95% {
    -o-transform: translateY(0px);
       transform: translateY(0px); }
  100% {
    -o-transform: translateY(-70px);
       transform: translateY(-70px); } }

@keyframes flashAnimation {
  0% {
    -webkit-transform: translateY(-70px);
       -moz-transform: translateY(-70px);
         -o-transform: translateY(-70px);
            transform: translateY(-70px); }
  5% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px); }
  95% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-70px);
       -moz-transform: translateY(-70px);
         -o-transform: translateY(-70px);
            transform: translateY(-70px); } }

.flash-message__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 20px;
  text-align: center;
  -webkit-animation: flashAnimation 4s ease-in-out forwards;
     -moz-animation: flashAnimation 4s ease-in-out forwards;
       -o-animation: flashAnimation 4s ease-in-out forwards;
          animation: flashAnimation 4s ease-in-out forwards;
  background-color: rgba(140, 19, 229, 0.5); }

.flash-message__text {
  color: white;
  font-size: 14px; }

.navbar {
  margin: 0 30px;
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  border-bottom: var(--main-border); }

.navbar__home {
  position: relative; }

.navbar__showcase {
  position: relative; }

.navbar__feed {
  position: relative; }

.social__login {
  text-align: center; }

.login__other {
  display: inline; }

.login__other a:visited {
  color: white; }

.btn__social__login {
  margin: 0vw 2vw 2vw 2vw;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  outline: 0;
  border: 1px solid transparent;
  padding: 0.5rem !important;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  color: #fff; }

.btn__social__login:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
     -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.text__dark {
  color: #343a40 !important; }

/*# sourceMappingURL=styles.css.map*/